.fullscreen-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #370e4b;
  z-index: 500;
  opacity: 1;
  animation: load var(--intoTimer) forwards;
}